body{
    font-family: Arial, Helvetica;
    background-image: url("../img/6.jpg");
    
    line-height: 1.6em;
}
.logo{list-style: none;
    padding: 0;
    background: rgb(255, 255, 255);
    width: 1000%;
    max-width: 800px;
    margin: auto;
 
}
.menu{
    list-style: none;
    padding: 0;
    background: rgb(0, 0, 0);
    width: 1000%;
    max-width: 800px;
    margin: auto;
}
.menu li a{
    text-decoration: none;
    
    color: white;
    padding: 10px;
    display: block;
}
.menu li{
    display:inline-block;
    text-align:auto;
}
.menu li a:hover{
    background: rgb(30, 197, 24);
}
.form{
    list-style: none;
    padding: 0;
    background: rgb(255, 255, 255);
    width: 450%;
    max-width: 800px;
    margin: auto;
    margin-top: 50px;
}
.cont-formulario{
    width: 1000%;
    max-width: 800px;
    background: rgb(255, 255, 255);
}

h1{
    text-align: center;
    margin: 0;
    margin-bottom: 7%;
}

input, textarea,label{
    width: 80%;
    margin-bottom: 4%;
    margin-left: 50px;
}
.tabla tr{
    align-content: center;
    text-align: center;
background-color: rgb(255, 255, 255);
}
footer{
    background-color: rgb(0, 0, 0);
    text-align: left;
    margin: 3em;
    border: 1px;
    padding: 0.5em;
    margin-left: 3%;
}
.canal{
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 3em;
    border: 1px;
    padding: 1em;
    margin-left: 0%;
    
   
}

.canal1{
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 3em;
    border: 1px;
    padding: 1em;
    margin-left: 3%;
    
   
}
.intro{
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 3em;
    border: 1px;
    padding: 0.5em; 
    margin-left: 0%;
}
.videos{
    text-align: left;
    display:inline-block;
}
.banner{
    
    padding: 0%;
    text-align:auto;
    
}
